*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  color: #ffffff;

}

.block {
  display: block;
  
}

.big-container {
  width: 1200px; 
  margin: 0 auto;
  background-color: #849d8f;
  padding-left: 27px;
  padding-right: 27px;
  
}

.main-menu,
.user-navigation,
.desc-list,
.social, 
.menu-footer1,
.menu-footer2,
.catalog-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: underline;
  color: #ffffff;
}

.main-menu a:hover,
.main-menu a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #323232;
  
}

.main-menu {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
/*  text-decoration: underline;*/
  
  display: flex;
  justify-content: space-between;
  padding-top: 25px;

  
}

.search,
.login,
.basket {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;  
}

.contact-mode {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  padding-bottom: 14px;
}

.contact-number {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}

.description-shop {
  color: #323232;
  background-image: url("../img/wafer2.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 28px 20px;    

}

.description-shop h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin: auto;     /*не понимаю почему, но без этого отсупы огромные*/
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden
}

.search {
  position: relative;
}

.search:hover .search-popup {   
  
  display: block;
  position: absolute;
  
}

.login-popup a{
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  }

.blog {
  width: 560px;    
  font-weight: 500;
  background-image: url("../img/strawberry-background.jpg");  
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin-right: 26px;
  padding-left: 20px;
  padding-top: 25px;
}

.article-name a{
  font-weight: bold;
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  /*text-decoration: underline;*/
}



.menu-footer {
  font-size: 13px;
  line-height: 18px;
  padding-top: 18px;
}

.logo-img {
  width: 165px;
}

.suppliers {
  font-weight: bold;
}

.copyright,
.copyright a {
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

.feedback {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.catalog-item h3 {
  font-weight: 500;
 /* text-decoration: underline;*/
}

.icecream {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.foto-icecream {
  width: 266px;
  border-radius: 50%;
}

.price {
  font-size: 44px;
  line-height: 45px;
  text-shadow: 1px 1px 10px rgba(50, 50 ,50 , 0.5);
  font-weight: bold;
}

.kg {
  font-size: 32px;
  line-height: 45px;
  text-shadow: 1px 1px 10px rgba(50, 50 ,50 , 0.5);
  font-weight: bold;
}


.search-popup {
  display: none;
}

.login-popup {
  display: none;
}



.site-navigation-container {
  display: flex;
  justify-content: space-between;
}

.logo-menu-container {
 
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 0; 
  
}

.logo {
  padding-right: 13px;
}

.user-navigation-container {
  display: flex;
  flex-basis: 246px;
  justify-content: space-between;
  padding-top: 37px; 
  padding-bottom: 27px; 

  }

.main-menu-item {
  padding-left: 12px;
  padding-right: 12px;
}

.contact-info {
  text-align: right;
  vertical-align: top;
  
}



.contact-info p {
   margin: 0px;
}

.blog-subscription-container {
  color: #323232;
  display: flex;
  height: 221px;          /*пришлось указать высоту, иначе низ обрезался...но наверно это как-то иначе решается...*/
  margin-bottom: 40px;
}

.subscription {
  width: 560px;
  background-image: url("../img/subscription.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 20px 27px;  /*мне неясно - как высчитывать верхний паддинг - делаю на глаз*/
}



.desc-list li{
  display: inline-block;
  width: 535px;
  vertical-align: top;
  margin-top: 15px;
 
  padding-left: 58px;
  padding-top: 13px;
  
}

.desc-list li:nth-of-type(2n+1){
 margin-right: 26px;
}

.desc-item-icecream {
  background-image: url("../img/icecream-item.svg");
  background-repeat: no-repeat;
}

.desc-item-cow {
  background-image: url("../img/cow-item.svg");
  background-repeat: no-repeat;
}


.desc-item-leaf {
  background-image: url("../img/leaf-item.svg");
  background-repeat: no-repeat;
}

.desc-item-temperature {
  background-image: url("../img/temperature-item.svg");
  background-repeat: no-repeat;
}

.article-name {
  width: 280px;
}

.map {
  margin-bottom: 18px;
    /*не удается сдвинуть карту к краю*/ 
}



.footer-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.social {
  display: flex;        /*надо было сделать в ряд. можно ли это было сделать не флекс, а чем-то другим?*/
  padding-top: 18px;
}


.social img {
  border: 2px solid #c2cec7;
  border-radius: 50%;
 
}

.social li {
   padding-right: 12px;
}

.copyright p {
  margin: 0;      /*почему-то отсуп уже был, неясно откуда...пришлось обнулять*/
}

.menu-footer {
  display: flex;
  justify-content: space-between;
}



.menu-footer1 {
  margin-right: 32px;
}

.heart {
  width: 20px;
  padding-top: 3px;
  padding-right: 7px;
  align-self: flex-start;
}

.feedback-popup {
  display: none;
}
