body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  color: #ffffff;
  
  background-color: #849d8f;
}

.main-menu,
.user-navigation,
.desc-list,
.social, 
.menu-footer1,
.menu-footer2,
.catalog-list {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.main-menu a:hover,
.main-menu a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #323232;
  
}

.main-menu {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: underline;
}

.search,
.login,
.basket {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;  
}

.contact-mode {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.contact-number {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}

.description-shop {
  color: #323232;
  background-image: url("../img/wafer2.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 10px;
}

.description-shop h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden
}

.login-popup a{
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  }

.blog {
  color: #323232;
  font-weight: 500;
  background-image: url("../img/strawberry-background.jpg");   
  background-repeat: no-repeat;
  border-radius: 10px;
}

.article-name a{
  font-weight: bold;
  color: #323232;       
}

.desc-subscription {
  color: #323232;
}

.menu-footer {
  font-size: 13px;
  line-height: 18px;
}

.suppliers {
  font-weight: bold;
}

.copyright,
.copyright a {
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

.feedback {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.catalog-item h3 {
  font-weight: 500;
  text-decoration: underline;
}

.icecream {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.foto-icecream {
  width: 266px;
  border-radius: 50%;
}

.price {
  font-size: 44px;
  line-height: 45px;
  text-shadow: 1px 1px 10px rgba(50, 50 ,50 , 0.5);
  font-weight: bold;
}

.kg {
  font-size: 32px;
  line-height: 45px;
  text-shadow: 1px 1px 10px rgba(50, 50 ,50 , 0.5);
  font-weight: bold;
}


